*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
}

#background
{
    width: 100%;
    height: 75%;
    background-image: url(https://images.unsplash.com/photo-1496950866446-3253e1470e8e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
    background-size: cover;
  
}
#overlay
{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.609);
    
}
#background h1
{
    color: white;
    width: 100%;
    text-align: center;
   position: relative;
top: 40%;
left: 50%;
transform: translate(-50%,-50%);
font-family: poppins;
font-size: 43px;

}
#overlay button
{
    width: 180px;
    height: 35px;
    background-color: black;
    box-shadow: black;
    text-shadow:white;
    border-radius: 1px;
    position: absolute;
    top: 57%;
    left: 50%;
transform: translate(-50%,-50%);
border-width: 1px;

}
#overlay h4
{
    color: white;
font-size: 14px;
font-weight: 300;
letter-spacing: 8px;
font-family: poppins;
}

#second
{
    width: 100%;
    height: 100%;
   background-color: transparent;
    display: flex;

}
#secondleft 
{
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1503764833250-3aa553ba3f2b?ixlib=rb-1.2.1&auto=format&fit=crop&w=1014&q=80);
    background-size: cover;
    position: relative;
}
#overlaysecond
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.719);
    
    
}
#secondleft h2
{
 color: white;

 width: 100%;
 text-align: center;
position: relative;
top: 30%;
left: 30%;
transform: translate(-50%,-50%);
font-family: gotham;
font-size: 33px;
}
#secondleft p
{
 color: white;
 text-align: left;
font-size: 16px;
font-family: gotham;
position: relative;
top: 30%;
left: 4.5%;
width: 70%;
}
#secondleft button
{
    width: 150px;
    height: 30px;
    position: absolute;
top: 65%;
left: 4.5%;
background-color: black;
    border-radius: 0px;
    border-width: 1px;

}
    
 #secondleft h5
{
    
    color: white;
    font-size: 13px;
    font: weight 120;
    letter-spacing: 1px;
}

#secondright
{
    width: 50%;
    height: 100%;
    background-color: rgb(249, 246, 253);
    position: relative;
    display: flex;
  justify-content: center;
  align-items: center;
padding: 50px;

}   
#firstimage
{
    
    width: 50%;
    height: 50%;
    background-image: url(https://images.unsplash.com/photo-1508144647452-a114a567ad63?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
}

#secondimage
{
    width: 50%;
    height: 50%;
   background-image: url(https://images.unsplash.com/photo-1528721071427-cab7de8e8050?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  margin-left: 20px;
}

#navigation
{
    width: 100%;
    height: 30px;
    background-color: white;
    padding: 0;
}

#navigation
{
    display: flex;
    color: black;
    align-items: center;
    justify-content: space-around;
    padding-left: 370px;
    padding-right: 370px;
   
}

#navigation h5
{
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 4px;
    font-family: poppins;
    text-transform: uppercase;
}
